/*.homepage {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #efebe9;

    > header {
        display: flex;
        justify-content: space-between;
        padding-top: 16px;
        padding-bottom: 16px;
        padding-right: 16px;
        padding-left: 64px;
    }
    > footer {
        display: flex;
        justify-content: center;
        background-color: #efebe9;

    }

}*/
.homepage {
    background-color: #efebe9;
    width: 100%;        /* Zauzima cijelu širinu */
    height: 100vh;      /* Zauzima cijelu visinu prozora pretraživača */
    display: flex;
    flex-direction: column;
}

.list_buttons{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 32px;
    margin-bottom: 32px;
    margin-left: 32px;
    margin-right: 32px;
}