.homepage-admin {
    background-color: #9e9e9e;
    display: flex;
    flex-direction: column;
    height: 100vh;

    > header {
        display: flex;
        justify-content: space-between;
        padding: 0 16px;
    }

}