.editData{
    background-color: #efebe9;
    width: 100%;        /* Zauzima cijelu širinu */
    height: 100%;      /* Zauzima cijelu visinu prozora pretraživača */
    display: flex;
    flex-direction: column;
}
.edit-data{
    display: flex;
    flex-direction: column;
    padding: 64px;
    padding-bottom: 32px;
}
.edit-data__form{
    display: flex;
    flex-direction: column;
}
.edit-data__fieldset{
    display: flex;
    flex-direction: column;
    gap: 8px;
    border: 2px solid #5d4037;
    border-radius: 8px;
}
