.edit-data{
    display: flex;
    flex-direction: column;
    padding: 40px;
}
.edit-data__form{
    display: flex;
    flex-direction: column;
}
.edit-data__fieldset{
    display: flex;
    flex-direction: column;
    gap: 8px;
    border: 2px solid #5d4037;
    border-radius: 8px;
}
