#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.login {
  padding: 0.5em;

  input {
    margin: 1em;
    height: 2em;
  }

  input.tekst {
    border: none;
    border-bottom: 2px solid white;
    background: none;
  }

  input.submit {
    border: none;
    cursor: pointer;
    border-radius: 8px;
  }

  ::placeholder {
    color: white;
  }
}