/*.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}*/
/*.header-title {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-bottom: 32px;
}*/
header {
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 16px;
    padding-left: 32px;
}

